<div style="margin-top: 50px">
  <form [formGroup]="vehicleSearchForm">

    <div class="dropdown mb-3">
      <button
          class="btn btn-secondary dropdown-toggle w-100"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        {{ this.year.value || 'Select year' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li *ngFor="let option of availableYears$ | async">
          <a
            class="dropdown-item"
            href="#"
            (click)="this.year.setValue(option); $event.preventDefault();">
            {{ option }}
            <span *ngIf="this.year?.value === option">✅</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="dropdown mb-3" [hidden]="!this.year.value">
      <button
          class="btn btn-secondary dropdown-toggle w-100"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        {{ vehicleSearchForm.get('make')?.value || 'Select make' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <ng-container *ngIf="(availableMakes$ | async) as availableMakes">
          <ng-container *ngIf="availableMakes.status === loadingStatusEnum.Loading">
            <li>
              <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Loading...</a>
            </li>
          </ng-container>

          <ng-container *ngIf="availableMakes.status === loadingStatusEnum.Loaded">
            <li *ngFor="let option of availableMakes.data">
              <a
                class="dropdown-item"
                href="#"
                (click)="this.vehicleSearchForm.get('make')?.setValue(option); $event.preventDefault();">
                {{ option }}
               <span *ngIf="this.make.value === option">✅</span>
            </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>

    <div class="dropdown mb-3" [hidden]="!this.make.value">
      <button
          class="btn btn-secondary dropdown-toggle w-100"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        {{ vehicleSearchForm.get('model')?.value || 'Select model' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <ng-container *ngIf="(availableModels$ | async) as availableModels">
          <ng-container *ngIf="availableModels.status === loadingStatusEnum.Loading">
            <li>
              <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Loading...</a>
            </li>
          </ng-container>

          <ng-container *ngIf="availableModels.status === loadingStatusEnum.Loaded">
            <li *ngFor="let option of availableModels.data">
              <a
                class="dropdown-item"
                href="#"
                (click)="this.model.setValue(option); $event.preventDefault();">
                {{ option }}
              <span *ngIf="this.model.value === option">✅</span>
            </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>

    <div class="dropdown mb-3" [hidden]="!this.model.value">
      <button
          class="btn btn-secondary dropdown-toggle w-100"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false">
        {{ (this.trim.value)?.text || 'Select trim' }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ng-container *ngIf="(availableTrims$ | async) as trims">
          <ng-container *ngIf="trims.status === loadingStatusEnum.Loading">
            <li>
              <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Loading...</a>
            </li>
          </ng-container>

          <ng-container *ngIf="trims.status === loadingStatusEnum.Loaded">
            <li *ngFor="let option of trims.data">
              <a
                class="dropdown-item"
                href="#"
                (click)="this.trim.setValue(option); $event.preventDefault();">
                {{ option.text }}
               <span *ngIf="this.trim.value.id === option.id">✅</span>
            </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </form>
</div>
