<form [formGroup]="valuesForm">
  <div [hidden]="isElectricSelected()">
    <ng-container
      *ngTemplateOutlet="formField; context: { controlName: 'cityMpg', label: 'City Mi/G' }">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="formField; context: { controlName: 'highwayMpg', label: 'Highway Mi/G' }">
    </ng-container>
  </div>

  <div [hidden]="isGasolineSelected()">
    <ng-container
      *ngTemplateOutlet="formField; context: { controlName: 'cityMpkwh', label: 'City Mi/kWh' }">
    </ng-container>

    <ng-container
      *ngTemplateOutlet="formField; context: { controlName: 'highwayMpKwh', label: 'Highway Mi/kWh' }">
    </ng-container>
  </div>

  <div class='form-entry row mt-4'>
    <label for="selectedFuelType"></label>

    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <ng-container *ngFor="let fuelType of fuelTypeOptions; let i = index">
        <input
          type="radio"
          class="btn-check"
          [id]="'btnradio' + i"
          formControlName="selectedFuelType"
          [value]="fuelType"
          autocomplete="off"
        >
        <label class="btn btn-outline-primary" [for]="'btnradio' + i">
          {{ fuelType | titlecase }}
        </label>
      </ng-container>
    </div>
  </div>

  <ng-template #formField let-controlName="controlName" let-label="label">
    <div class="form-entry mb-3">
      <label [for]="controlName" class="form-label">{{ label }}</label>
      <input [id]="controlName" class="form-control" [formControlName]="controlName" />

      <div *ngIf="valuesForm.get(controlName)?.touched && valuesForm.get(controlName)?.invalid" class="text-danger mt-1">
        This field is required.
      </div>
      <div *ngIf="valuesForm.get(controlName)!.hasError('pattern')">
        Must be a number.
      </div>
    </div>
  </ng-template>
</form>