
.form-summary {
  margin-top: 50px;
}

.trailing {
  font-size: 0.7em;
  margin-left: -2px;
  vertical-align: top; /* Raise it above the baseline */
}

.ev-cost-per-mile {
  margin-bottom: 10px;
}

.ev-cost-percentage {
  margin-bottom: 10px;
}

.single-cost-summary {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cost-summary-table {
  max-width: 400px;
}