
<form  class="needs-validation" [formGroup]="numberForm">
  <div class="row-cols-1 mb-3 text-center">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Shared Driving Values</h4>
        </div>

        <div class="card-body text-start px-4">
          <div class='form-entry row mb-3'>
            <label for="costPerGallon" class="form-label">Gasoline $ per gallon:</label>
            <input id="costPerGallon" class="form-control" formControlName="costPerGallon" type="text">

            <div *ngIf="formControls['costPerGallon'].invalid && (formControls['costPerGallon'].dirty || formControls['costPerGallon'].touched)">
              <div *ngIf="formControls['costPerGallon'].hasError('required')">
                Required field.
              </div>
              <div *ngIf="formControls['costPerGallon'].hasError('pattern')">
                Must be a number.
              </div>
            </div>
          </div>

          <div class='form-entry row mb-3'>
            <label for="costPerKwh" class="form-label">Electricity $ per kWh:</label>
            <input id="costPerKwh" class="form-control" formControlName="costPerKwh" type="text">

            <div *ngIf="formControls['costPerKwh'].invalid && (formControls['costPerKwh'].dirty || formControls['costPerKwh'].touched)">
              <div *ngIf="formControls['costPerKwh'].hasError('required')">
                Required field.
              </div>
              <div *ngIf="formControls['costPerKwh'].hasError('pattern')">
                Must be a number.
              </div>
            </div>
          </div>

          <div class='form-entry row mb-3'>
            <label for="milesPerYear" class="form-label">Miles driven per year:</label>
            <input id="milesPerYear" class="form-control" formControlName="milesPerYear" type="text">

            <div *ngIf="formControls['milesPerYear'].invalid && (formControls['milesPerYear'].dirty || formControls['milesPerYear'].touched)">
              <div *ngIf="formControls['milesPerYear'].hasError('required')">
                Required field.
              </div>
              <div *ngIf="formControls['milesPerYear'].hasError('pattern')">
                Must be an integer.
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</form>


  <div class="row mb-3 text-center">
    <div class="col-12 col-lg-6">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Vehicle #1</h4>
        </div>
        <div class="card-body text-start">
          <app-vehicle-picker #vehiclePickerOne [buttonText]="'Set Vehicle #1'" (vehicleSelected)="setVehicleOne($event)"></app-vehicle-picker>

          <app-single-vehicle-stats
            #vehicleOne
            (selectedVehicleStats)="this.vehicleOneStats$.next($event)"
            [btnPrefix]="'vehicle1-'"></app-single-vehicle-stats>

          <div class='single-cost-summary' *ngIf="vehicleOneSummary$ | async as summary">
            <ng-container
              *ngTemplateOutlet="singlecostsummary;
                context: {
                  rowtype: 'City',
                  costpermile: summary.cityCostPerMile,
                  costperyear: summary.cityCostPerYear
                }">
            </ng-container>
            <ng-container
              *ngTemplateOutlet="singlecostsummary;
                context: {
                  rowtype: 'Highway',
                  costpermile: summary.highwayCostPerMile,
                  costperyear: summary.highwayCostPerYear
                }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="col card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Vehicle #2</h4>
        </div>
        <div class="card-body text-start">
          <app-vehicle-picker #vehiclePickerTwo [buttonText]="'Set Vehicle #2'" (vehicleSelected)="setVehicleTwo($event)"></app-vehicle-picker>

          <app-single-vehicle-stats
            #vehicleTwo
            (selectedVehicleStats)="this.vehicleTwoStats$.next($event)"
            [btnPrefix]="'vehicle2-'"
            ></app-single-vehicle-stats>

          <div class='single-cost-summary' *ngIf="vehicleTwoSummary$ | async as summary">
            <ng-container
                *ngTemplateOutlet="singlecostsummary;
                  context: {
                    rowtype: 'City',
                    costpermile: summary.cityCostPerMile,
                    costperyear: summary.cityCostPerYear
                  }">
            </ng-container>
            <ng-container
                *ngTemplateOutlet="singlecostsummary;
                context: {
                  rowtype: 'Highway',
                  costpermile: summary.highwayCostPerMile,
                  costperyear: summary.highwayCostPerYear
                }">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

    <ng-template #singlecostsummary let-rowtype="rowtype" let-costpermile="costpermile" let-costperyear="costperyear">
      <div class="row mx-auto cost-summary-table">
        <div class="col-4 row-span-2 themed-grid-col d-flex align-items-center">
          <!-- This spans two rows -->
          <h4>{{rowtype}}</h4>
        </div>

        <div class="col-8 themed-grid-col">
          <div class="row">
            <div class="col themed-grid-col">$ per mile</div>
            <div class="col themed-grid-col">
              <span>${{ costpermile | noRound:2 }}</span>
              <span class="trailing"> {{ costpermile | trailingDecimals }} </span></div>
          </div>
          <div class="row">
            <div class="col themed-grid-col">
              $ per year
            </div>
            <div class="col themed-grid-col">
              <span>${{ costperyear | number:'1.2-2' }}</span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  <div class='comparison-summary' *ngIf="vehicleComparison$ | async as comparison">
    <app-two-vehicle-comparison [comparison]="comparison"/>
  </div>

  <ng-template #invalid_content>Provided values are not valid.</ng-template>
